<h1>Tuto Angular routing</h1>
<ul>
  <li><a href="" routerLink="/a">A</a>
    <ul>
      <li><a href="" routerLink="/a/a1">A1</a></li>
      <li><a href="" routerLink="/a/a2">A2</a></li>
      <ul>
        <li><a href="" routerLink="/a/a2/a21">A21</a></li>
        <li><a href="" routerLink="/a/a2/a22">A22</a></li>
        <li><a href="" routerLink="/a/a2/a23">A23</a></li>
      </ul>
      <li><a href="" routerLink="/a/a3">A3</a>
        <ul>
          <li><a href="" [routerLink]="['/a/a3', {outlets: {second: ['a31']}}]">A31</a> <button (click)="goToA31()">Go using button</button></li>
          <li><a href="" [routerLink]="['/a/a3', {outlets: {second: ['a32']}}]">A32</a></li>
          <li><a href="" [routerLink]="['/a/a3', {outlets: {second: ['a33']}}]">A33</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="" routerLink="/b">B</a></li>
  <li><a href="" routerLink="/c">C</a></li>
</ul>

<h2>Principal View</h2>
<router-outlet></router-outlet>
<h2>Second View</h2>
<router-outlet name="second"></router-outlet>

